<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Foretold Software, LLC. All rights reserved. Licensed under the Microsoft Public License (MS-PL). See the license.md file in the project root directory for full license information. -->
<packages>
  <package id="CommandLineUtility" version="1.0.5" targetFramework="net45" />
</packages>